.analytics-page-container {
  display: flex;
  height: 100vh;
}

.analytics-content {
  margin-top: 25px;
  padding-left: 20px;
  /* margin-left: 5%; */
}
.analytics-content p {
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  margin-top: -5px;
  margin-bottom: 80px;
}
.boxContainer {
  display: flex;
  gap: 5%;
}
.box1 ul,
.box2 ul {
  border-radius: 10px;
  padding: 20px;
  margin: 0;
  margin-left: 20px;
}
.box1 li,
.box2 li {
  margin-bottom: 20px;
}
.box1,
.box2 {
  background-color: #f9fcff;
  display: flex;
  justify-content: space-between;
  width: 30vw;
  height: fit-content;
  border-radius: 8px;
  align-items: left;
}
/* li::marker {
  font-size: 1.8em; 
  color: #90C4CC;
} */
.one li::marker, .three li::marker {
  font-size: 1.8em; 
  color: #90C4CC;
}

.two li, .four li {
  padding: 10px;
  list-style-type: none;
  font-size: 0.9em; /* Smaller font size */
  text-align: right;
}