.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: -30px;
  top: 0;


}

.welcome-section h1 {
  font-size: 24px;
  margin-right: 120px;
  margin-bottom: 5px;
}

.board-container {
  display: flex;
  align-items: center;
  margin-bottom: -5px;
  
}

.board-container h2 {
  font-size: 30px;
  margin-right: 20px;
  
}

.addPeople-container {
  display: flex;
  align-items: center;
  color: gray;
}
.addPeople-container:hover {
  color: black;
  cursor: pointer;
}

.icon {
  margin-right: 5px;
}

.add-people-text {
  font-size: 18px;
}

/* Date section styling */
.date-section {
  position: relative;
  border: 0.5px solid rgba(170, 170, 170, 0.1);
  color: #707070;
  font-size: 16px;
  margin-right: 200px;
  border-radius: 12px;
}

.date-section p {
  font-size: 15px;
  color: rgb(116, 116, 116);
}

/* Dropdown container styling */
.drop-down {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  padding: 8px 10px; /* Adjust padding for tighter alignment */
  border-radius: 5px;
  /* box-shadow: 0px 2px 5px rgba(179, 178, 178, 0.1); */
  cursor: pointer;
  width: 175px;
  color: black;
  font-size: 15px;
}

/* Dropdown icon styling */
.chevron-icon{
  margin-left: 10px; 
  
  transition: transform 0.3s ease;
  font-size: 13px;

}

/* Dropdown list styling */
.drop-down-list {
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  width: 140px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px 0;
  box-shadow: 0px 2px 22px rgba(116, 120, 120, 0.1);
  font-size: 15px;
  font-weight: 600;
  color: #000;
  z-index: 10;
  text-align: left;
  font-family:  var(--font-poppins);
}

.drop-down-list div {
  padding: 8px 15px;
  cursor: pointer;
}

.drop-down-list div:hover {
  background-color: aliceblue;
  border-radius: 3px;
}
