.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    text-align: left;
  }
  .modal-content h3{
    font-size:16px;
    padding-left:10px;
  }
  .modal-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  .form-input{
    width: 100%; 
    max-width: 450px;
  }

  .modal-btns {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
  }
  
  .cancelbutn, .save-butn {
    width: 100%;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }
  
  .cancelbutn {
    background-color: #fcfcfc;
    color: #cc3030;
    border: 1px solid #cc3030;
  }
  
  .save-butn {
    background-color: #17A2B8;
    color: white;
  }
