.sidebar {
    width: 200px;
    height: 100vh;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
  }
  

  
.nav-links {
        list-style: none;
        padding: 0;
      }

  
      .nav-link {
        display: flex;
        align-items: center;
        padding: 10px;
        margin: 10px 0 ;
        margin-left: 20px;
        border-radius: 8px;
        font-size: 16px;
        color: #6c757d;
        cursor: pointer;
        text-decoration: none;
      }
  
      .nav-link:hover, .nav-text:hover {
        background-color: #e9ecef;
        color: #000;
      }
      .sidebar-icon {
        margin-right: 10px;
        font-size: 18px;
        color: inherit;
      }
     .nav-text{
        font-size: 18px;
        margin-left: 10px;
        color:gray;
        text-decoration: none;
     }
     
  .logout-section {
    margin-top: auto;
  }
  
  .logout-btn {
    color: red;
    text-decoration: none;
    font-size: 16px;
  }
  