.task-board-wrapper {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.task-board {
  background-color: #f0f2fc;
  border-radius: 8px;
  padding: 20px;
  width: 250px;
  min-height: 400px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.task-board-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-board-header h3 {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.plus-icon {
  font-size: 24px;
  cursor: pointer;
  margin-right: 10px;
  margin-left:150px;
  color: gray;
}

.copy-minus-icon {
  font-size: 18px;
  transform: scaleX(-1);
  cursor: pointer;
  color: gray;
}

.task-board-body {
  margin-top: 20px;
  flex-grow: 1;
}

.task-item {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

.task-header h4 {
  margin: 0;
  font-size: 1rem;
}

.task-header p {
  font-size: 0.85rem;
  color: gray;
}

.checklist-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.checklist-header .collapse-icon {
  cursor: pointer;
  font-size: 1.2rem;
}

.checklist {
  margin-top: 10px;
}

.checklist-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.checklist-item input {
  margin-right: 10px;
}

.task-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.edit-icon, .delete-icon {
  cursor: pointer;
}
